<footer class="bg-dark text-white py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Travel Management System</h5>
                <p>Your one-stop solution for all travel needs. Explore the world with us!</p>
            </div>
            <div class="col-md-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="/" class="text-white">Home</a></li>
                    <li><a href="/packages" class="text-white">Packages</a></li>
                    <li><a href="/hotels" class="text-white">Hotels</a></li>
                    <li><a href="/about" class="text-white">About Us</a></li>
                    <li><a href="/contact" class="text-white">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Contact Information</h5>
                <address>
                    <p><i class="fa fa-map-marker"></i> 123 Travel Street, City</p>
                    <p><i class="fa fa-phone"></i> +1 234 567 890</p>
                    <p><i class="fa fa-envelope"></i> info@travelsystem.com</p>
                </address>
            </div>
        </div>
        <hr>
        <div class="text-center">
            <p>&copy; {{currentYear}} Travel Management System. All rights reserved.</p>
        </div>
    </div>
</footer> 